@charset "utf-8";

@font-face {
    font-family:'Work Sans';
    src: url(../assets/fonts/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Work Sans italic';
    src: url(../assets/fonts/WorkSans-Italic-VariableFont_wght.ttf);
}

:root{
    --color-White: hsl(0, 100%, 100%);
    --color-Purple100: hsl(275, 100%, 97%);
    --color-Purple600: hsl(292, 16%, 49%);
    --color-Purple950: hsl(292, 42%, 14%);

    --fonte-principal: 'Work Sans';
    --fonte-italica: 'Work Sans italic';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

html,
body{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

body{
    background-image: url(../assets/images/background-pattern-mobile.svg);
    background-color: var(--color-Purple100);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}

.main{
    background-color: var(--color-White);
    max-width: 80%;
    padding: 1.4em;
    border-radius: 10px;
}

.main__title{
    color: var(--color-Purple950);
    margin-bottom: 1em;
}

.main__title::before{
    display: inline-block;
    content: '';
    background-image: url(../assets/images/icon-star.svg);
    background-size: cover;
    width: .7em;
    height: .7em;
    margin-right: 1em;
}

.main__section{
    padding: 1em 0;
}

.main__section:not(:last-child){
    border-bottom: 1px solid var(--color-Purple100);
}

.question{
    color: var(--color-Purple950);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1em;
}

.answer{
    color: var(--color-Purple600);
    padding-top: 2em;
}


/* summary::-webkit-details-marker {
    display: none;
} */

/* Compatível com Firefox */
.opc{
    list-style: none;
    cursor: pointer;
}

.opc::after{
    content: '';
    display: inline-block;
    background-image: url(../assets/images/icon-plus.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 2em;
    height: 2em;
    flex: 0 0 2em;
    
}

.main__details[open] .opc::after{
    background-image: url(../assets/images/icon-minus.svg);
}

footer{
    padding-top: 3em;
}

@media screen and (min-width: 500px) {
    body{
        background-image: url(../assets/images/background-pattern-desktop.svg);
    }
}